*{
    text-decoration: none;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    /* margin: 0; */
    padding: 0;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
}

header{
    top: 0;
    z-index: 1;
}
:root {
    --navbar-height: 60px;
    --navbar-background-color: white;
    --navbar-item-text-color-hover: gold;
    --navbar-item-font: bold 1rem/1rem "Open Sans", Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--navbar-background-color);
    font-family: var(--navbar-font-family);
    z-index: 9999;
  }
  
  .navbar #togglericon {
    visibility: hidden;
  }
  
  .navbar #togglericon:after {
    content: "☰";
    position: absolute;
    visibility: visible;
    color: black;
    font-size: 1.5rem;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.8rem;
    border-radius: 4px;
    border: 2px solid #ffffff00;
  }
  
  .navbar #togglericon:checked:after {
    color: black;
    border: 2px solid black;
  }
  
  .nav {
    position: fixed;
    top: 40px;
    left: 60%;
    right: 0px;
    visibility: hidden;
    opacity: 0;
    padding: 8px;
    transition: all 0.5s ease;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--navbar-background-color);
    box-shadow: 0px 4px 4px 0px #00000088;
  }
  
  .navbar #togglericon:checked ~ div.nav {
    visibility: visible;
    transition: all 0.3s ease;
    opacity: 1;
  }
  
  
  .nav a {
    padding: 10px;
    font: var(--navbar-item-font);
    color: var(--navbar-item-text-color);
  }
  
  .nav a:hover {
    color: var(--navbar-item-text-color-hover);
  }
  
  
  .dropdown {
    position: relative;
    display: block;
    color: var(--navbar-item-text-color);
    font: var(--navbar-item-font);
  }
  .dropdown label {
    display: block;
    padding: 8px;
  }
  
  .dropdown label:after {
    position: absolute;
    content: "▼";
    color: var(--navbar-item-text-color);
    font-size: 0.75rem;
    top: 8px;
    margin-left: 4px;
  }
  
  .dropdown label:hover {
    color: var(--navbar-item-text-color-hover);
  }
  .dropdown label:hover:after {
    color: var(--navbar-item-text-color-hover);
  }
  .dropdown input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .dropdown input:checked ~ ul {
    max-height: 500px;
    transition: max-height 0.5s ease;
    margin: 16px 0;
  }


  .dropdown a {
    color: black;
    text-decoration: none;
    font-weight: normal;
  } 
  .brand {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 150px;
    margin-left: 8px;
    font-weight: bolder;
  }

  /* helpers */
  
  @media (min-width: 768px) {
    .navbar #togglericon:checked ~ div.nav,
    .navbar #togglericon ~ div.nav {
      visibility: visible;
    }
  
    .navbar {
      display: flex;
      left: 0;
      top: 0;
      opacity: 1;
      width: 100%;
      box-shadow: 0px 1px 5px 0px #88888888;
    }

    .toggler {
      display: none;
    }
    
    .nav {
      position: relative;
      flex-direction: row;
      top: 0;
      opacity: 1;
      box-shadow: none;
    }
}
/* =====NAV END===== */


/* =======landing page styling====== */

.home{
    display: flex;
    flex-wrap: wrap;
    background-image: url("images/red.jpg");
    height: 70vh;
    text-align: center;
    padding-top: 20%;
    justify-content: center;

}
.intro-title{
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
}
.intro-sub{
    font-size: 1.5rem;
    color: white;
}

/* =====ICONS==== */
.social-menu ul{
    position: absolute;
    top: 70%;
    left: 47%;
    padding: 0;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}
.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}
.social-menu ul li .fa{
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: black;
}
.social-menu ul li a{
    position: relative;
    display:block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color:white;
    transition: .6s;
    box-shadow: 0 5px 4px black;
}
.social-menu ul li a:hover{
    transform: translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #0077B5;
}




/* ======ABOUT PAGE STYLING====== */
.about{
    background: url("images/Tabang\ Duda\ \(3.\).jpg") no-repeat left;
    object-fit: cover;
    background-size: 50%;
    background-color: white;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    float: right;
    width: 50%;
    background-color: black;
    padding: 150px;
}
.inner-container h2{
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 900;
    color: red;
}
.text{
    font-size: 25px;
    color: white;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.other-skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 20px;
    color: red;
}
@media screen and (max-width:1200px){
    .inner-container{
        padding: 88px;
    }
}
@media screen and (max-width:1000px){
    .about{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about{
        padding: 0;
    }
    .inner-container{
        width: 60px;
    }
}

.linking{
    align-items: center;;
    display: flex;
    flex-direction: column;
    background: red;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    padding: 5px;
}
.linking:hover{
    color: red;
    background: white;

}
/* ========END ABOUT STYLE======== */


/* =======SKILLS PAGE STYLE======== */
.skills{
    background: black;
    min-height: 660px;
}
.skills .port{
    max-width: 60vw;
    margin: 0 auto;
    padding-top: inherit;
    margin-top: 50px;
}
.skills .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    transform: translateX(-50%);
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
 
}
.skills .skills-content .right .info{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.skills .skills-content .right span{
    color: white;
    font-weight: 500;
    font-size: 25px;
}
.skills .skills-content .right .line{
    height: 10px;
    width: 100%;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 10px whitesmoke;
}

.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
.skills-content{ animation: skills-content 2s;
    width: 90%;
}
@keyframes skills-content {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
        }
}

.skills-content .right .html::before{
    width: 80%;
    background: green;

}
.skills-content .right .python::before{
    width: 80%;
    background: red;
}
.skills-content .right .js::before{
    width: 50%;
    background: blue;
}
.skills-content .right .css::before{
    width: 70%;
    background: yellow;
}

.skills-content .right .mysql::before{
    width: 50%;
    background: aqua;
}
/* =======END SKILL STYLE======== */


/* =======PROJECT STYLE======= */

.projects {
    padding: 60px 0 40px 0;
    display: flex;
    flex-wrap: wrap;    
}
.projects .port{
    max-width: 60vw;
    margin: 0 auto;
    padding-top: inherit;
    margin-top: 50px;
}
.projects .port .title{
    font-size: 40px;
}
  
.projects .container{
    min-height: 600px;
    width: 100vw;
    margin: 0 auto;
}
  
.projects .box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 35px;
    box-shadow: 0 10px 29px 0 white;
    transition: all 0.3s ease-in-out;
    text-align: center;
}
  
.projects .box:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.projects .container .ttitle{
    font-size: 50px;
}
  
.projects .icon {
    margin: 0 auto 15px auto;
    padding-top: 12px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 300px;
    height: 300px;
  }
  
.projects .icon i {
    font-size: 36px;
    line-height: 1;
}
  
.projects .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 20px;
}  

  
.projects .description {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: center;
    color: white;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



/* contact page styling */
.contacts .container{
    max-width: 60vw;
    margin: 0 auto;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
}
.contact-form input{
    width: 90%;
    height: 34px;
}

.contact-form textarea{
    width: 90%;
    height: 100px;
    margin: 10px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}
.contact-form{
    max-width:80%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 20px;
}
#contact-section{
    background: rgb(168, 4, 4);
    background-position: center;
}
#contact-section .container h2{
    text-align: center;
    text-decoration: underline;
    letter-spacing: 1px;
}
.contact-form i.fa{
    font-size: 20px;
    padding: 3%;
    margin: 2%;
    cursor: pointer;
    border: 2px solid red;
    color: white;
    border-radius: 52px;
}
.contact-form i.fa:hover{
    cursor: pointer;
    border: 2px solid white;
    color: black;
}
.form-info{
    font-size: 145x;
    font-style: italic;
}
input{
    padding: 10px;
    margin: 10px;
    width: 70px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}
.submit{
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 3%;
    background: red;
    color: white;
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 5px;
}
.submit:hover{
    background: black;
}

@media (max-width: 768px){
    #contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: center;
    }
    .brand-name{margin-top: 20px;}
}





/* footer styling */
footer{
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    background: white;

}
footer span{
    color: black;
    padding-left: 50%;
}


.expreriences{
    display: flex;
    justify-content: center;
}
.expreriences .icon{
    color: red;
}

.li_wrap{
    color: white;
}



.expreriences .li_wrap{
    display: flex;
    margin-bottom: 15px;
}
.expreriences .li_wrap .date{
    width: 200px;
    color: green;
}
.expreriences .li_wrap .info{
    width: calc(100% -125px);
    padding-left: 25px;
    position: relative;
}
.expreriences .li_wrap .info_title{
text-transform: uppercase;
font-weight: 700;
letter-spacing: 2px;
color: red;
}
.expreriences .li_wrap .info_com{
font-weight: 300;
font-size: 15px;
margin-top: 3px;
}
.expreriences .li_wrap .info_cont{
    margin-top: 15px;
}
.expreriences .li_wrap .info::before{
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    background: brown;
    border-radius: 50%;
}
.expreriences .li_wrap .info::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 4px;
    width: 2px;
    height: 90%;
    background: brown;
}
.expreriences h2{
    color: red;
    max-width: 60vw;
    padding-top: inherit;
    margin-top: -50px;
    font-size: 40px;
}
