*{
    text-decoration: none;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    /* margin: 0; */
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header{
    top: 0;
    z-index: 1;
}
:root {
    --navbar-height: 60px;
    --navbar-background-color: white;
    --navbar-item-text-color-hover: gold;
    --navbar-item-font: bold 1rem/1rem "Open Sans", Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--navbar-background-color);
    font-family: var(--navbar-font-family);
    z-index: 9999;
  }
  
  .navbar #togglericon {
    visibility: hidden;
  }
  
  .navbar #togglericon:after {
    content: "☰";
    position: absolute;
    visibility: visible;
    color: black;
    font-size: 1.5rem;
    width: 1.8rem;
    height: 1.8rem;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 1.8rem;
    border-radius: 4px;
    border: 2px solid #ffffff00;
  }
  
  .navbar #togglericon:checked:after {
    color: black;
    border: 2px solid #f0f0f0;
  }
  
  .nav {
    position: fixed;
    top: 40px;
    left: 60%;
    right: 0px;
    visibility: hidden;
    opacity: 0;
    padding: 8px;
    transition: all 0.5s ease;
    margin: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--navbar-background-color);
    box-shadow: 0px 4px 4px 0px #00000088;
  }
  
  .navbar #togglericon:checked ~ div.nav {
    visibility: visible;
    transition: all 0.3s ease;
    opacity: 1;
  }
  
  
  .nav a {
    padding: 10px;
    font: var(--navbar-item-font);
    color: var(--navbar-item-text-color);
  }
  
  .nav a:hover {
    color: var(--navbar-item-text-color-hover);
  }
  
  
  .dropdown {
    position: relative;
    display: block;
    color: var(--navbar-item-text-color);
    font: var(--navbar-item-font);
  }
  .dropdown label {
    display: block;
    padding: 8px;
  }
  
  .dropdown label:after {
    position: absolute;
    content: "▼";
    color: var(--navbar-item-text-color);
    font-size: 0.75rem;
    top: 8px;
    margin-left: 4px;
  }
  
  .dropdown label:hover {
    color: var(--navbar-item-text-color-hover);
  }
  .dropdown label:hover:after {
    color: var(--navbar-item-text-color-hover);
  }
  .dropdown input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  .dropdown input:checked ~ ul {
    max-height: 500px;
    transition: max-height 0.5s ease;
    margin: 16px 0;
  }


  .dropdown a {
    color: black;
    text-decoration: none;
    font-weight: normal;
  }
  
 
  .brand {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 150px;
    margin-left: 8px;
    font-weight: bolder;
  }

  /* helpers */
  
  @media (min-width: 768px) {
    .navbar #togglericon:checked ~ div.nav,
    .navbar #togglericon ~ div.nav {
      visibility: visible;
    }
  
    .navbar {
      display: flex;
      left: 0;
      top: 0;
      opacity: 1;
      width: 100%;
      box-shadow: 0px 1px 5px 0px #88888888;
    }

    .toggler {
      display: none;
    }
    
    .nav {
      position: relative;
      flex-direction: row;
      top: 0;
      opacity: 1;
      box-shadow: none;
    }
  }
  
  /* =====NAV END===== */


/* =======landing page styling====== */

.home{
    /* display: flex; */
    background: #34495e;
    /* color: red(124, 119, 119); */
    height: 100vh;
    /* min-height: 500px; */
    text-align: center;

}
.overlay-intro{
    position: absolute;
    padding: 0;
    width: 100%;
}
.intro-title{
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
}
.intro-sub{
    font-size: 1.5rem;
}
.intro-content{
    margin-top: 30px;
}

.picture img{
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    top: 200px;
}


/* about page styling */
.about{
    background: aqua;

}
.Me img{
    border-radius: 200px;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    top: 200px;
}
section{
    padding:100px 0 ;
}
.title{
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 60px;
    position: relative;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: red;
    transform: translateX(-50%);
}
.about-content{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* margin: auto 90px; */
}
.about .about-content .pic {
    display: flex;
    margin: 0 auto 60px;
    width: 100%;
}


.about .about-content  img{
    height: 400px;
    /* width: 300px; */
    object-fit: cover;
}
.bout .text{
    font-weight:600 ;
    color: rgb(61, 59, 59);
    font-size: 40px;
    text-align: center;
}
.bout{
    color: black;
    font-weight: bold;
    margin-right: 300px;
    margin-left: 300px;
}
.linking{
    align-items: center;
    display: inline-block;
    background: red;
    color: black;
    border-radius: 6px;
    border: solid black;
    padding: 5px;
}



/* my skills page styling */
.skills{
    background: white;
    min-height: 660px;

}

.skills .port{
    max-width: 60vw;
    margin: 0 auto;

}
.skills-content .text{
    color: black;
    text-align: center;
    margin: 40px;
}
.skills .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}

.skilling{
    font-weight:600 ;
    color: black;
    font-size: 40px;
}
.skills .skills-content .right .bars{
    margin-bottom: 15px;
}
.skills .skills-content .right .info{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    color: black;
    font-weight: 500;
    font-size: 25px;
}
.skills .skills-content .right .line{
    height: 10px;
    width: 100%;
    background: black;
    position: relative;
}
.skills .skills-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}
.skills-content .right .html::before{
    width: 80%;
    background: green;

}
.skills-content .right .python::before{
    width: 80%;
    background: red;
}
.skills-content .right .js::before{
    width: 50%;
    background: blue;
}
.skills-content .right .css::before{
    width: 70%;
    background: yellow;
}

.skills-content .right .mysql::before{
    width: 50%;
    background: aqua;
}



/* projects page styling */

.projects{
    background: black;

}
.container{
    min-height: 600px;
}

/* Float four columns side by side */
.container .column {
    float: left;
    height: 150px;
    width: 22%;
    padding: 25px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .container .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .container .row:after {
    content: "";
    display: table;
    /* clear: both; */
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 white; /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
/* 

.container .box{
    position: relative;
    width: 300px;
    height: 300px;
    background: green;
    margin: 40px;
    display: inline-block;
}
.container .box .imgbox{
    position: relative;
    overflow: hidden;
}
.container .box .imgbox img{
    max-width: 100%;
    transition: transform 2s;
}
.container .box:hover .imgbox img{
    transform: scale(1);
}

.container .box .details{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background:rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}
.container .box:hover .details{
    transform: scaleY(1);

}

.container .box .details .content{

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}
.container .box .details .content h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.container .box .details .content p{
    margin: 0;
    padding: 0;
    font-size: 20px;
} */

/* contact page styling */
.contacts .container{
    min-height: 600px;
    margin: 50px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 0px;
}
.contact-form input{
    width: 90%;
    height: 34px;
}
.contact-form textarea{
    width: 90%;
    height: 100px;
    margin: 10px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}
.contact-form{
    max-width:80%;
    margin: 0 auto;
    padding: 50px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 20px;
}
#contact-section{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9));
    background-position: center;
}
#contact-section .container h2{
    text-align: center;
    text-decoration: underline;
    letter-spacing: 1px;
}
.contact-form i.fa{
    font-size: 20px;
    padding: 3%;
    margin: 2%;
    cursor: pointer;
    border: 2px solid red;
    color: black;
    border-radius: 52px;
}
.contact-form i.fa:hover{
    cursor: pointer;
    border: 2px solid black;
    color: red;
}
.form-info{
    font-size: 145x;
    font-style: italic;
    letter-spacing: 2px;
}
input{
    padding: 10px;
    margin: 10px;
    width: 70px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
}
.submit{
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    margin-left: 3%;
    background: red;
    color: black;
    border-radius: 6px;
    border: solid black;
    padding: 5px;
}
.submit:hover{
    border: 2px solid black;
    background: black;
    color:red;
    cursor: pointer;
}

@media (max-width: 768px){
    #contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: center;
    }
    .brand-name{margin-top: 20px;}
}





/* footer styling */
footer{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    background: rgb(124, 119, 119);

}
footer span{
    color: black;
}